doctype html
// saved from url=(0038)http://v3.bootcss.com/examples/signin/
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
    meta(name='description', content='')
    meta(name='author', content='')
    title Signin Template for Bootstrap
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='/stylesheets/signin.css', rel='stylesheet')
    script(src='/javascripts/ie-emulation-modes-warning.js')
    script(type='text/javascript' src='/javascripts/jquery-1.11.1.min.js')
    script(type='text/javascript' src='/javascripts/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/init.js')
  body
    .container
      form#login.form-signin(method='post', action='submit')
        h2.form-signin-heading Please sign in
        label.sr-only(for='inputEmail') Username
        input#inputEmail.form-control(type='text', placeholder='Username', required='', autofocus='',name='username')
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password', required='',name='password')
        .checkbox
          label
            input(type='checkbox', value='remember-me')
            |  Remember me
        button#sbmt.btn.btn-lg.btn-primary.col-sm-6(type='button') Sign in
        button#rgst.btn.btn-lg.btn-default.col-sm-6(type='button',data-toggle="modal" data-target="#reg") Register
        
      #reg.modal.fade(role='dialog', aria-labelledby='gridSystemModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4#gridSystemModalLabel.modal-title Please Input information
            .modal-body
              form#register.form-group(method='post', action='register')
                .form-group
                  label(for='regName') Username
                  input#regName.form-control(type='text', placeholder='Username', required='', autofocus='',name='username')
                .form-group
                  label(for='regPassword') Password
                  input#regPassword.form-control(type='password', placeholder='Password', required='',name='password')
              
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button#rgstsbmt.btn.btn-primary(type='button') submit
          // /.modal-content
        // /.modal-dialog
      // /.modal